{% extends "layout.html" %}
{% block content %}
<!--<p class="resizeimage">
    <img src="/static/images/thumbs_sample2.jpg" alt="台形" width="400" height="400" class="sample_image"/>
</p>-->
<section id="title-block">
    <div class="title-container">
    <h1>AHS2</h1>
    <h3>ハンドサイン認識アプリ</h3>
    </div>
</section>
<!--   First block End   -->
    <!--   Second block Start   -->
<section id="second-block">
    <div class="about-container">
        <p class="info-text">
          <b>AH2へようこそ！</b>
          <br>
          <span class="font-small">
          AHS2(Application for Hand Sign Search)は、ハンドサインを画像から検索して、その意味を教えてくれるアプリです。
          <br>
          右横で画像をアップロードし、検索を始めてみましょう。
          <br>
          Enjoy learning to hand sign!
          </span>
        </p>
        <p class="info-text">
          <b>手の写真をアップロードしてください</b>
          <form action = "/upload" method="post" enctype="multipart/form-data">
            <p><input type="file" id = "upload_file" name = "upload_file" multiple="multiple" class="form-control"></p>
            <p><input type="submit" value="送信" class="form-control btn btn-primary"></p>
        </form>
        </p>        
    </div>
</section>
{% endblock %}