{% extends "layout.html" %}
{% block content %}
<!--<p class="resizeimage">
    <img src="/static/images/thumbs_sample2.jpg" alt="台形" width="400" height="400" class="sample_image"/>
</p>-->
<section id="main-block">
    <div class="main-container">
        <div class="title-container">
            <div class="title">
                <img src="./static/images/title5.png" alt="Title" width="650" height="450" >
            </div>
        </div>
        <div class="right-container">
            <div class="info-container">
                <p class="info-text">
                <b>AH2へようこそ！</b>
                <br>
                <span class="font-small">
                AHS2(Application for Hand Sign Search)は、
                <br>
                ハンドサインを画像から検索して、その意味を教えてくれるアプリです。
                <br>
                右横で画像をアップロードし、検索を始めてみましょう。
                </span>
                </p>
            <div class="-text">
              <form action = "/upload" method="post" enctype="multipart/form-data">
                <p><input type="file" id = "upload_file" name = "upload_file" multiple="multiple" class="form-control"></p>
                <p><input type="submit" value="送信" class="form-control btn btn-primary"></p>
                </form>
            </div>        
        </div>
    </div>
</section>
{% endblock %}