<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>AHS2</title>
        <link rel="stylesheet" href="./static/css/about_style.css">
        <link rel="icon" href="./static/images/icon.png">
    </head>
    <body>
        <header>
            <div class="header-logo">
                <h1><a href="/"><img src="./static/images/Logo7.png" alt="Logo" width="130" height="70"> <span></span></a></h1>
            </div>
            <div class="header-list">
                <ul class="header-ul">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About AHS2</a></li>
                    <li><a href="/dictionary">Dictionary</a></li>
                </ul>
            </div>
        </header>
        <section id="main-block">
            <div class="main-container">
                <div class="right-container">
                    <div class="info-container">
                        <p class="info-text">
                            <b>AH2について</b>
                        </p>
                        <p class="info-text">
                        <span class="font-small">
                        アクセスいただき、誠にありがとうございます。
                        <br>
                        皆さんは「ハンドサイン」を普段から使っていますか？
                        <br>
                        「ハンドサイン」は、例えば写真を撮るときのピースや「OK」や「いいね」といった意味で使うサムズアップ（SNSでも使いますね！）等があります。
                        <br>
                        しかし、そんなハンドサインには、実は海外ではまったく別の意味があったりすることをご存じでしょうか？
                        <br>
                        AHS2(Application for Hand Sign Search)は、
                        <br>
                        AIを用いてハンドサインの画像を分析し、その意味を表示することができます。
                        <br>
                        海外旅行に行く前、外国人の友達と会う時、海外の文化を学びたい時・・・
                        <br>
                        AHS2には様々な使い方があります。
                        <br>
                        ぜひ、あなたにあった使い方を見つけてみてください。
                        </span>
                        </p>      
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <p>Copyright © Ryuichi Usami All Rights Reserved.</p>
        </footer>
    </body>
</html> 

