<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>AHS2</title>
        <link rel="stylesheet" href="./static/css/dictionary_style.css">
        <link rel="icon" href="./static/images/icon.png">
    </head>
    <body>
        <header>
            <div class="header-logo">
                <h1><a href="/"><img src="./static/images/Logo7.png" alt="Logo" width="130" height="70"> <span></span></a></h1>
            </div>
            <div class="header-list">
                <ul class="header-ul">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About AHS2</a></li>
                <li><a href="/dictionary">Dictionary</a></li>
                </ul>
            </div>
        </header>
        <!--<section id="links">
            <div class="main-container">
                <a href="#main-block">コルナ</a></li>
                <br>
                <a href="#main-block2">コルナ2</a></li>
            </div>
        </section>-->
        <section id="main-block">
            <div class="main-container">
                <div class="title-container">
                    <div class="title">
                        <!--<img src= "{{ img_path }}" style="margin: 20px; vertical-align: bottom; width: 200px;">-->
                        <img src= "" width="456px" height="400px" class="hand_image" >
                    </div>
                </div>
                <div class="right-container">
                    <div class="info-container">
                        <p class="info-text">
                            <b>コルナ</b>
                        </p>
                        <p class="info-text">
                        <span class="font-small">
                            コルナは人差し指と小指を上に出し、中の指を手のひらに向けて曲げるジェスチャーです。ハードロックバンドやそのファンは過去数十年にわたって、これを承認や喜びの象徴としてきたそうです。多くのヨーロッパの国では悪魔の印でされる一方、ヒンドゥー教や仏教では肯定的なサインとされています。イタリア、ブラジル、キューバ、スペイン、ポルトガルでは、配偶者が浮気をしていることを示すために使われます。
                        </span>
                        </p>
                        <p>参考文献：https://englishlive.ef.com/ja-jp/blog/study-tips/hand-gestures/</p>                                             
                    </div>
                </div>
            </div>
        </section>
        <section id="main-block2">
            <div class="main-container">
                <div class="title-container">
                    <div class="title">
                        <!--<img src= "{{ img_path }}" style="margin: 20px; vertical-align: bottom; width: 200px;">-->
                        <img src= "" width="456px" height="400px" class="hand_image" >
                    </div>
                </div>
                <div class="right-container">
                    <div class="info-container">
                        <p class="info-text">
                            <b>コルナ</b>
                        </p>
                        <p class="info-text">
                        <span class="font-small">
                            コルナは人差し指と小指を上に出し、中の指を手のひらに向けて曲げるジェスチャーです。ハードロックバンドやそのファンは過去数十年にわたって、これを承認や喜びの象徴としてきたそうです。多くのヨーロッパの国では悪魔の印でされる一方、ヒンドゥー教や仏教では肯定的なサインとされています。イタリア、ブラジル、キューバ、スペイン、ポルトガルでは、配偶者が浮気をしていることを示すために使われます。
                        </span>
                        </p>
                        <p>参考文献：https://englishlive.ef.com/ja-jp/blog/study-tips/hand-gestures/</p>                                             
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <p>Copyright © Ryuichi Usami All Rights Reserved.</p>
        </footer>
    </body>
</html> 